.container {
  width: 100%;
}


.subSpecialtyCard {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}




.courseList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.courseCard {
  display: flex;
  justify-content: space-between;
  background: white;
  border: 1px solid #cce7ff;
  padding: 12px 15px;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  align-items: flex-start;
  padding: 12px;
  margin-bottom: 20px;
  
}
.courseContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.courseCard:hover {
  transform: scale(1.02);
  background-color: #f2f7ff;
}

.courseTitle {
  font-size: 1rem;
  font-weight: bold;
}

.courseCode {
  font-size: 0.9rem;
  color: #555;
}

.courseCredits {
  font-size: 0.9rem;
  color: #666;
}
.coursePrerequisites {
  font-size: 0.9rem;
  color: #555;
  margin-top: 5px;
}


.deleteButton {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.deleteButton:hover {
  transform: scale(1.1);
  color: red;
}

.addButton {
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
}

.addButton:hover {
  background-color: #0056b3;
}
